@font-face {
  font-family: "floating-top-link";
  src: url('../fonts/floating-top-link.eot');
  src: url('../fonts/floating-top-link.eot?#iefix') format('eot'),
    url('../fonts/floating-top-link.woff2') format('woff2'),
    url('../fonts/floating-top-link.woff') format('woff'),
    url('../fonts/floating-top-link.ttf') format('truetype'),
    url('../fonts/floating-top-link.svg#floating-top-link') format('svg');
  font-weight: normal;
  font-style: normal;
}

.FloatingTopLink__icon:before {
  display: inline-block;
  font-family: "floating-top-link";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FloatingTopLink__icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.FloatingTopLink__icon-2x { font-size: 2em; }
.FloatingTopLink__icon-3x { font-size: 3em; }
.FloatingTopLink__icon-4x { font-size: 4em; }
.FloatingTopLink__icon-5x { font-size: 5em; }
.FloatingTopLink__icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.FloatingTopLink__icon-01:before { content: "\EA01" }
